.dark {
  --color-primary: rgb(127, 174, 255);
  --color-on-primary: rgb(255, 255, 255);
  --color-secondary: rgb(5, 188, 216);
  --color-on-secondary: rgb(255 255 255);
  --color-background: color-mix(in srgb-linear, rgb(30 30 30) 100%, var(--color-primary) 2%);
  --color-on-background: rgb(255, 255, 255);
  --color-shadow: var(--color-on-primary);
  --color-container: rgb(50, 50, 50);
  --color-on-container: rgb(255, 255, 255);
}
