.light {
  --color-primary: rgb(61, 98, 161);
  --color-on-primary: rgb(255, 255, 255);
  --color-secondary: rgb(2, 118, 135);
  --color-on-secondary: rgb(255 255 255);
  --color-background: color-mix(in srgb-linear, rgb(255 255 255), var(--color-primary) 10%);
  --color-on-background: rgb(0, 0, 0);
  --color-shadow: var(--color-primary);
  --color-container: rgb(255, 255, 255);
  --color-on-container: rgb(0 0 0);
}
