/* Import theme */
@import url("theme/ice-blue/light.css");
@import url("theme/ice-blue/dark.css");

/* css classes */
html{
    font-family: "Roboto", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: var(--md-sys-color-on-background);
    background-color: var(--md-sys-color-background);
}

body {
    padding: 0px;
    margin: 0px;
}

/* multi-classes selectors */
/* insert here in case these are needed */

/* dynamic and state rules (hover, active, ...) */
/* insert here in case these are needed */

/*******************************************************************************
* General rules
*******************************************************************************/
/* css classes */
.section-title {
    color: var(--md-sys-color-primary);
}

.section-subtitle {
    color: var(--md-sys-color-secondary);
}

.body-section{
    padding: 15px 5vw 15px 5vw;
}

.card {
    box-shadow: 4px 4px 8px var(--md-sys-color-shadow);
}

.from-bottom {
    transform: translateY(10%);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* multi-classes selectors */
.show-on-scroll.hidden {
    opacity: 0;
    filter: blur(2px);
    transition: all 1s ease-in-out;
}

.show-on-scroll.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
    transform: translateY(0);
}
/* dynamic and state rules (hover, active, ...) */
@media(prefers-reduced-motion) {
    .show-on-scroll.hidden {
        transition: none;
    }
}

/*******************************************************************************
* Nav-bar
*******************************************************************************/
/* css classes */
.nav-bar{
    z-index: 999; /* ensure the nav-bar is on top of everything */
    position: sticky; /* Set the navbar to fixed position */    
    top: 0; /* Position the navbar at the top of the page */
    padding: 2vw 2vw 1vw 1vw;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    gap: 1em;
    align-items: center;
    background: var(--md-sys-color-primary);
    height: 5vh;
    transition: 100ms ease-in;
}

.nav-container {
    list-style: none;
    display: flex;
    padding: 5px;
    margin: 0;
    height: inherit;
    justify-items: center;
    align-items: center;
}

.nav-main {
    gap: 15px;
}

.nav-link {
    font-style: normal;
}

.nav-title {
    font-size: 1.2rem;
}

.nav-button{
    border: none;
    cursor: pointer;
    background: none;
}

.nav-right {
    padding: 0;
    margin: 0;
    height: 100%;
}

/* multi-classes selectors */
.nav-link, .nav-button, .nav-title {
    color: var(--md-sys-color-on-primary);
    text-decoration: none;
}

.nav-container .nav-link{
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
}

/* dynamic and state rules (hover, active, ...) */
.nav-bar > div:nth-child(2){
    flex-grow: 2;
}

.nav-button:hover, .nav-link:hover{
    transition: 100ms ease-in-out;
    scale: 1.2;
}

.nav-link:hover{
    color: var(--md-sys-color-on-primary-container);
    background-color: var(--md-sys-color-primary-container);
}

.nav-left .nav-button {display: none;}

@media screen and (max-width: 600px){
    .nav-main, .nav-right { display: none; font-size: 1.5rem;}
    .nav-left .nav-button { display: block; }

    .nav-bar.compact {
        display: flex;
        flex-flow: column;
        height: 60vh;
    }

    .nav-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; 
    }

    .nav-bar.compact .nav-main{
        display: flex;
        flex-flow: column;
    }

    .nav-bar.compact .nav-right{
        display: flex;
    }

    .nav-bar.compact .nav-link{
        display: block;
    }

    .nav-bar.compact .nav-button{
        display: block;
    }
}

/*******************************************************************************
* About me
*******************************************************************************/
/* css classes */
.aboutme {
    display: grid;
    grid-template-columns: 6fr 4fr;
    column-gap: 5px 50px;
    border-radius: 25px;
    padding: 15px 15px 15px 15px;
}

.aboutme-main {
    padding: 6px;
    padding-right: 12px;
    font-size: 1.2rem;
}

.aboutme-right {
    display: flex;
    justify-content: right;
}

.aboutme-title {
    color: var(--md-sys-color-primary);
    font-size: 4rem;
}

/* Used in html, use this for styling the description in 'aboutme' */
/* .aboutme-description {} */

.aboutme-picture {
    border-radius: 100%;
    max-width: 100%;
    height: auto;
}

/* multi-classes selectors */
/* insert here in case these are needed */

/* dynamic and state rules (hover, active, ...) */
@media screen and (max-width: 1000px) {
    .aboutme {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-items: center;
        gap: 10px;
    }
    .aboutme-main, .aboutme-right {
        width: 100%;
    }
    .aboutme-right {
        justify-content: center;
    }
}

/*******************************************************************************
* Card items
*******************************************************************************/
/* css classes */
.card-shadow {
    box-shadow: 0px 0px 8px -5px var(--md-sys-color-shadow);
}

.card-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.card-item {
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    background-color: var(--md-sys-color-on-surface-container-lowest);
    color: var(--md-sys-color-on-surface-container);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header-title {
    color: var(--md-sys-color-on-background);
}

.card-header-info {
    font-size: small;
    color: var(--md-sys-color-tertiary);
}

.card-collapse {
    max-width: 40%;
    transition: all 500ms ease-in-out;
}

.card-expand {
    max-width: 100%;
    box-shadow: 0px 0px 8px var(--md-sys-color-secondary);
    transition: all 500ms ease-in-out;
}

/* multi-classes selectors */
/* insert here in case these are needed */

/* dynamic and state rules (hover, active, ...) */
.card-hover:hover .card-header-title {
    color: var(--md-sys-color-primary);
}

.card-hover:hover .card-header-info {
    color: var(--md-sys-color-secondary);
}

.card-item.card-hover:hover{
    box-shadow: 0px 0px 8px var(--md-sys-color-primary);
}

/*******************************************************************************
* Contact
*******************************************************************************/
/* css classes */
.contact-list {
    display: flex;
    flex-flow: column;
    gap: 15px;
    color: var(--md-sys-color-on-surface-container);
    background-color: var(--md-sys-color-secondary-container);
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 15px 15px 15px 15px;
}

.contact-item {
    font-size: 26pt;
    display: flex;
    align-items: center;
    column-gap: 15px;
}

/* multi-classes selectors */
.contact-list a {
    color: var(--md-sys-color-on-surface-container);
    text-decoration: none;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}


/* dynamic and state rules (hover, active, ...) */
.contact-item a:hover {
    color: var(--md-sys-color-on-primary);
    background-color: var(--md-sys-color-primary);
}