/* Import theme */
@import url("theme/ice-blue/light.css");
@import url("theme/ice-blue/dark.css");

/* css classes */
html{
    --tiny-font-size: 8pt;
    --small-font-size: 10pt;
    --medium-font-size: 14pt;
    --large-font-size: 18pt;
    --huge-font-size: 24pt;
    font-family: "Open Sans", "Roboto Mono";
    font-size: var(--medium-font-size);
    color: var(--color-on-background);
    background-color: var(--color-background);
}

body {
    padding: 0px;
    margin: 0px;
}

/* multi-classes selectors */
/* insert here in case these are needed */

/* dynamic and state rules (hover, active, ...) */
@media screen and (max-width: 1000px) {
    html{
        --tiny-font-size: 14pt;
        --small-font-size: 18pt;
        --medium-font-size: 24pt;
        --large-font-size: 28pt;
        --huge-font-size: 32pt;
    }
}

/*******************************************************************************
* General rules
*******************************************************************************/
/* css classes */
a {
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-justify-end {
    justify-content: flex-end;
}

.big-link {
    display: flex;
    justify-content: center;
    font-size: var(--large-font-size);
    gap: 8px;
    color: var(--color-primary);
    padding: 15px;
    border-radius: 12px;
    transition: transform ease-in-out 400ms;
}

.body-section{
    padding: 15px 5vw 15px 5vw;
}

/* multi-classes selectors */
.big-link i {
    font-size: var(--huge-font-size);
}

/* dynamic and state rules (hover, active, ...) */
.big-link:hover {
    transform: scale(1.1) translate(0px, -10px);
}

.big-link:hover::after {
    background-color: var(--color-primary); 
    bottom: 0;
    content: '';
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 20%;
}

@media(prefers-reduced-motion) {
    .show-on-scroll.hidden {
        transition: none;
    }
}

@media screen and (max-width: 1000px) {
    .flex-row.responsive {
        flex-direction: column;
    }
    
    /* Small trick to get some items to align on the left when using phone */
    .align-left-on-mobile {
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

/*******************************************************************************
* Nav-bar
*******************************************************************************/
/* css classes */
.nav-bar{
    z-index: 999; /* ensure the nav-bar is on top of everything */
    position: sticky; /* Set the navbar to fixed position */    
    top: 0; /* Position the navbar at the top of the page */
    padding: 14px 20px;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    align-items: center;
    background: var(--color-primary);
    transition: height 300ms ease-in;
}

.nav-left, .nav-right, .nav-main {
    list-style: none;
    display: flex;
    padding: 5px;
    margin: 0;
    height: inherit;
    justify-items: center;
    align-items: center;
}

.nav-main {
    gap: 40px;
    font-size: var(--large-font-size);
}

.nav-overlay:not(.show-overlay) {
    visibility: hidden;
}

.nav-overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: var(--color-primary);
    font-size: var(--large-font-size);
    padding-bottom: 30px;
    transition: all 400ms ease-in-out;
    height: 0px;
}

.show-overlay {
    height: 350px;
}

.nav-item {
    transition: 200ms ease-in-out;
}

.nav-button{
    border: none;
    cursor: pointer;
    background: none;
}

.nav-icon {
    font-size: var(--huge-font-size);
}

.nav-item {
    color: var(--color-on-primary);
    text-decoration: none;
}

#nav-menu-button {
    display: none;
}
/* multi-classes selectors */

/* dynamic and state rules (hover, active, ...) */
.nav-item:hover{
    transform: translate(0px, 8px);
    scale: 1.2;
}

@media screen and (max-width: 1000px){
    #nav-menu-button {
        display: block;
    }

    .nav-main, .nav-right-wrapper {
        display: none;
    }

    .nav-left {
        justify-content: flex-start;
        width: 50%;
    }

    .nav-right {
        justify-content: flex-end;
        width: 50%;
    }

}

/*******************************************************************************
* About me
*******************************************************************************/
/* Used in html, use this for styling the description in 'aboutme' */
/* .aboutme-description {} */
/* .aboutme {} */

/* css classes */
.aboutme-main {
    width: 70ch;
    padding: 6px;
    padding-right: 12px;
    font-size: var(--large-font-size);
}

.aboutme-right {
    display: flex;
    justify-content: right;
}

.aboutme-title {
    color: var(--color-primary);
}

.aboutme-picture {
    border-radius: 100%;
    max-width: 100%;
    width: 512px;
    height: auto;
}

/* multi-classes selectors */
/* insert here in case these are needed */

/* dynamic and state rules (hover, active, ...) */
@media screen and (max-width: 1000px) {
    .aboutme {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-items: center;
        gap: 10px;
    }
    .aboutme-main, .aboutme-right {
        width: 100%;
    }
    .aboutme-right {
        justify-content: center;
    }
    .aboutme-picture {
        width: 768px;
    }
}

/*******************************************************************************
* Card items
*******************************************************************************/
/* css classes */
.card-shadow {
    box-shadow: 0px 0px 8px -5px var(--color-shadow);
}

.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 2vw 2vh;
}

.card-item {
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    background: var(--color-container);
    color: var(--color-on-container);
    transition: all 400ms ease-in-out;
}

.card-title {
    color: var(--color-primary);
    font-size: var(--large-font-size);
    transition: all 200ms ease-in-out;
}

.card-expand-icon {
    font-size: var(--large-font-size);
    color: var(--color-primary);
    transition: all 200ms ease-in-out;
}

.skill-image {
    width: 256px;
}
.yt-skill-video {
    width: 440px;
    height: 280px;
}

.modal {
    display: flex;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all 200ms ease-in-out;
}

.modal-card {
    min-width: 20%;
    max-width: 90%;
    max-height: 70%;
    overflow: auto; /* Enable scroll if needed */
}

.icon-item {
    width: 48px;
}

.card-expand:not(.collapse) {
    filter: blur(15px);
    transform: translateY(-30px);
}

.card-expand.collapse {
    filter: blur(0px);
    transform: translateY(0px);
}

.modal:not(.show) {
    visibility: hidden;
    transform: scale(0.4);
    opacity: 0;
}

.modal.show {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}

/* multi-classes selectors */
/* insert here in case these are needed */

/* dynamic and state rules (hover, active, ...) */
:host(.card-hover:hover) .card-title,
    :host(.card-hover:hover) .card-expand-icon,
    .card-hover:hover .card-expand-icon
    {
    color: var(--color-secondary);
}


.card-item.card-hover:hover{
    box-shadow: 0px 0px 8px var(--color-secondary);
}

.card-expand.collapse:hover {
    transform: translate(0px, -4px);
}

@media screen and (max-width: 1000px) {
    .card-list {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-items: center;
        gap: 10px;
    }
    .card-item {
        width: 100%;
    }
    .icon-item {
        width: 96px;
    }
    .skill-image {
        width: 640px;
    }
    .yt-skill-video {
        width: 880px;
        height: 560px;
    }
}
