/* Import theme */
@import url("theme/ice-blue/light.css");
@import url("theme/ice-blue/dark.css");

/* css classes */
html{
    font-family: "Roboto", sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color: var(--md-sys-color-on-background);
    background-color: var(--md-sys-color-background);
}

body {
    padding: 0px;
    margin: 0px;
}

/* multi-classes selectors */
/* insert here in case these are needed */

/* dynamic and state rules (hover, active, ...) */
/* insert here in case these are needed */

/*******************************************************************************
* General rules
*******************************************************************************/
/* css classes */
a {
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.flex-align-start {
    align-items: flex-start;
}

.big-link {
    display: flex;
    justify-content: center;
    font-size: 18pt;
    gap: 8px;
    color: var(--md-sys-color-primary);
    padding: 15px;
    border-radius: 12px;
    transition: transform ease-in-out 400ms;
}

.section-title {
    color: var(--md-sys-color-primary);
}

.section-subtitle {
    color: var(--md-sys-color-secondary);
}

.body-section{
    padding: 15px 5vw 15px 5vw;
}

.card {
    box-shadow: 4px 4px 8px var(--md-sys-color-shadow);
}

.from-bottom {
    transform: translateY(10%);
}

/* multi-classes selectors */
.show-on-scroll.hidden {
    opacity: 0;
    filter: blur(2px);
    transition: all 1s ease-in-out;
}

.show-on-scroll.show {
    opacity: 1;
    filter: blur(0px);
    transform: translateX(0);
    transform: translateY(0);
}

.big-link i {
    font-size: 24pt;
}

/* dynamic and state rules (hover, active, ...) */
.big-link:hover {
    transform: scale(1.1) translate(0px, -10px);
}

.big-link:hover::after {
    background-color: var(--md-sys-color-primary); 
    bottom: 0;
    content: '';
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 20%;
}

@media(prefers-reduced-motion) {
    .show-on-scroll.hidden {
        transition: none;
    }
}

@media screen and (max-width: 1000px) {
    .flex-row.responsive {
        flex-direction: column;
        align-items: center;
    }
}

/*******************************************************************************
* Nav-bar
*******************************************************************************/
/* css classes */
.nav-bar{
    z-index: 999; /* ensure the nav-bar is on top of everything */
    position: sticky; /* Set the navbar to fixed position */    
    top: 0; /* Position the navbar at the top of the page */
    padding: 4px 16px;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    align-items: center;
    background: var(--md-sys-color-primary);
    transition: 100ms ease-in;
}

.nav-container {
    list-style: none;
    display: flex;
    padding: 5px;
    margin: 0;
    height: inherit;
    justify-items: center;
    align-items: center;
}

.nav-main {
    gap: 15px;
    font-size: larger;
}

.nav-item {
    transition: 200ms ease-in-out;
}

.nav-button{
    border: none;
    cursor: pointer;
    background: none;
}

.nav-right {
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav-icon {
    font-size: 32px;
}

/* multi-classes selectors */
.nav-item, .nav-button, .nav-title {
    color: var(--md-sys-color-on-primary);
    text-decoration: none;
}

.nav-container .nav-item{
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 8px;
}

/* dynamic and state rules (hover, active, ...) */
.nav-bar > div:nth-child(2){
    flex-grow: 2;
}

.nav-item:hover{
    transform: translate(0px, 8px);
    scale: 1.2;
}

.nav-left .nav-button:last-child {display: none;}

@media screen and (max-width: 1000px){
    .nav-main, .nav-right { display: none; font-size: 1.5rem;}
    .nav-left .nav-button:last-child { display: block; }

    .nav-bar.compact {
        display: flex;
        flex-flow: column;
        height: 60vh;
    }

    .nav-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; 
    }

    .nav-bar.compact .nav-main{
        display: flex;
        flex-flow: column;
    }

    .nav-bar.compact .nav-right{
        display: flex;
    }

    .nav-bar.compact .nav-item{
        display: block;
    }

    .nav-bar.compact .nav-button{
        display: block;
    }
}

/*******************************************************************************
* About me
*******************************************************************************/
/* Used in html, use this for styling the description in 'aboutme' */
/* .aboutme-description {} */
/* .aboutme {} */

/* css classes */
.aboutme-main {
    width: 70ch;
    padding: 6px;
    padding-right: 12px;
    font-size: 1.2rem;
}

.aboutme-right {
    display: flex;
    justify-content: right;
}

.aboutme-title {
    color: var(--md-sys-color-primary);
    font-size: 4rem;
}

.aboutme-picture {
    border-radius: 100%;
    max-width: 100%;
    height: auto;
}

/* multi-classes selectors */
/* insert here in case these are needed */

/* dynamic and state rules (hover, active, ...) */
@media screen and (max-width: 1000px) {
    .aboutme {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-items: center;
        gap: 10px;
    }
    .aboutme-main, .aboutme-right {
        width: 100%;
    }
    .aboutme-right {
        justify-content: center;
    }
}

/*******************************************************************************
* Card items
*******************************************************************************/
/* css classes */
.card-shadow {
    box-shadow: 0px 0px 8px -5px var(--md-sys-color-shadow);
}

.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 2vw 2vh;
}

.card-item {
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 15px 15px 15px 15px;
    border-radius: 15px;
    background: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface-container);
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-header-title {
    color: var(--md-sys-color-on-background);
}

.card-header-info {
    font-size: small;
    color: var(--md-sys-color-tertiary);
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-card {
    min-width: 20%;
    max-width: 90%;
    max-height: 70%;
    overflow: auto; /* Enable scroll if needed */
}

.icon-item {
    width: 48px;
}


/* multi-classes selectors */
/* insert here in case these are needed */

/* dynamic and state rules (hover, active, ...) */
.card-hover:hover .card-header-title {
    color: var(--md-sys-color-primary);
}

.card-hover:hover .card-header-info {
    color: var(--md-sys-color-secondary);
}

.card-item.card-hover:hover{
    box-shadow: 0px 0px 8px var(--md-sys-color-primary);
}

@media screen and (max-width: 1000px) {
    .card-list {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-items: center;
        gap: 10px;
    }
    .card-item {
        width: 100%;
    }
}
